*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
  cursor: pointer;
}
html,body{
  max-width: 100%;
  overflow-x: hidden;
}
.nav-contents{
  padding: 0px 120px;
}
.navbar{
  z-index: 3;
}
.article-section h5:hover{
  color:hsl(136, 64%, 51%);
}
/* .navbar-nav .nav-link{
  position: relative;
  transition: color 0.3s ease;

}
.navbar-nav .nav-link:hover{
  text-decoration: underline;
  text-decoration-color: hsl(136, 64%, 51%) ;
} */
 .navbar-nav .nav-link {
  position: relative;
}
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #2ecc71, #00c6ff); 
  transform: translateX(-50%);
  transition: width 0.4s ease;
  border-radius: 5px;
}
.navbar-nav .nav-link:hover::after {
  width: 40px;
}

.hero-wrapper{
  display: flex;
  flex-direction: row;
  background-color: red;
}
.hero_image_section{
  position: relative;
  
}
.hero-section{
  position: relative;
  padding-bottom: 10px;
}
.hero-conetent{
   background-color: #2ecc71;
}

.hero-img{
  width: 100%;
  height: 100vh;
  position: absolute; 
  right:-400px;
  top: -245px;
  background: url(images/bg-intro-desktop.svg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: 950px 700px;
  
  z-index: -5;
}
.hero-section img{
  position: absolute;
  height:750px;
  right: 0px;
 
  top: -140px;
  /* z-index: 999; */
} 
.hero-section h1{
   width: 30%;
}
.hero-section p{
  width: 39%;
}
p{
  color:hsl(233, 8%, 62%);
}
.container{
  padding:100px 120px; 
}
.btn-request{
  background: linear-gradient(159deg, hsl(192, 69%, 51%),hsl(136, 64%, 51%));
  background-color: hsl(0, 100%, 100%);
  font-size: 12px;
}
.btn-request:hover{
  opacity:0.7;
}
.features-section{
  background-color: hsl(220, 16%, 96%);
}
.article-section{
  background: hsl(0, 0%, 98%);
}
.card{
  background-color: hsl(0, 100%, 100%);
}
.card-text{
  font-size: 14px;
} 
.footer-section{
  background: hsl(233, 26%, 24%);
  padding: 0px 120px;
  padding-top: 30px;
}
.footer-section a{
  text-decoration: none;
  color: white;
}
@media all and (max-width: 375px){
  .hero_image_section{
    position: relative;
    background-color: red;
  }
  
  .hero-img{
  width: 100%;
  height: 450px;
  left:0;
  background: url(images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
}
.hero-section img{
      position: absolute;
    
  height:450px;
  right: 0px;
  width: 100%;
  top: -190px;
}
.hero-conetent{
  margin-top: 260px;
 
} 
 .hero-section h1{
   width: 100%;
}
.hero-section p{
  width: 100%;
}
.mobile-size{
  font-size: 14px;
}
}

 @media (max-width: 970px){
.hero-section{

  
}

.hero-wrapper{
  
  flex-direction: column;
}
} 